<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='/images/favicon.ico' rel='shortcut icon' />

    <title>{$html_title}</title>

    <!-- Bootstrap core CSS -->
    <link href="/components/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <LINK type="text/css" rel="stylesheet" href="/css/app.css">
    
    <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <script src="/components/jquery/jquery.min.js"></script>
    <script src="/js/common.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-xs-right">
            <li class="nav-item{if $CURRENTPAGE=='defaultview'} active{/if}">
              <a class="nav-link" href="/">{t k="home" g="front"} </a>
            </li>
            
            
            <li class="nav-item{if $CURRENTPAGE=='users'} active{/if}">
              <a class="nav-link" href="{link c="Users"}">{t k="users" g="admin"}</a>
            </li>
            
            
            <li class="pull-right">
            <a href="{link c="Login" do="logout"}" class="btn btn-primary">{t k='logout' g='admin'}</a>
            </li>
            <li class="nav-item{if $CURRENTPAGE=='pages' && $CURRENTSUBPAGE == 'help'} active{/if} pull-right">
              <a class="nav-link" href="{link c="pages" id="help"}">{t k="help" g="admin"}</a>
            </li>
            <li class="nav-item{if $CURRENTPAGE=='settings'} active{/if} pull-right">
              <a class="nav-link" href="{link c="settings" }">{t k="settings" g="admin"}</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">{$config.sitename} {t k="adminside" g="admin"}</h3>
      </div>

      
    {if $MESSAGE!=''}
        <div class="container">
            <div class="row" style="padding-left:30px;padding-right:30px;">
            <div class="alert alert-{if $MESSAGESTYLE!=''}{$MESSAGESTYLE}{else}info{/if}">
            {$MESSAGE}
            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
            </div>
            </div>
        </div>
    {/if}

    <div class="container" id="content">
        {$INNERCONTENTS}
    </div>
      

      <footer class="footer">
      	<div class="row">
      	<div class="col-sm-6">
        <p>&copy; <a href="{link s='home'}">{$config.sitename}</a> 2016</p>
        </div>
        <div class="col-sm-6">
        	<nav>
        	<ul class="nav nav-pills pull-xs-right">
        	<li><a class="nav-link" href="{link s="home" }">{t k="home" g="front"}</a></li>
        	</ul>
        	</nav>
        </div>
        </div>
      </footer>

    </div> <!-- /container -->

    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>